body{
	background-color: #caf0f8;
	margin: 0px;
	font-family: sans-serif;
	overflow: hidden;
}
#left-rect {
    position: absolute;
    left: -80px;
    top: -40px;
    background-color: #48cae4;
    height: 360px;
    width: 360px;
    transform: rotate(-16deg);
    z-index: -1;
}

#bottom-rect {
    position: absolute;
    bottom: -500px;
    left: 120px;
    background-color: #90e0ef;
    height: 800px;
    width: 800px;
    transform: rotate(60deg);
    z-index: -1;
}

#right-rect {
    position: absolute;
    background-color: #00b4d8;
    width: 260px;
    height: 260px;
    transform: rotate(60deg);
    right: -180px;
    top: 100px;
    z-index: -1;
}

#img {
	width:20px;
	height: 20px;
	float: left;
}
header img{
	margin-right: 0px;
	margin-left: 400px;
	padding:10px;
}
.header{
}
header p{
	font-style: bold;
	font-family: Arial;
	font-size: 20px;
	margin-left: 400px;
	margin-top:24px;
	padding:10px;
	color: #03045e;
}


nav	{
	margin-top: 16px; 
	text-align: center;
	position: absolute;
	right: 300px;
	top: 20px;
	width: 400px;
	margin-left: 0px;
}
a{

	text-decoration: none;
	color: #0077b6;
	font-family: sans-serif;
	padding-right: 20px;
}
#link{
	float: right;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	
}

#git{
	float: right;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	
}
.corps{
	text-align: center;
}
#feno-andrianaly{
	font-size: 48px;
	font-weight: 600;
	color: #03045e;
	line-height: 0
}
#profile-title{
	font-size: italic;
	color: #0096c7;
	line-height: 0;
}